.video {
  padding: 0;
  margin: 0;
  width: 100%;
}

#buttonBar {
  background-color: #c2f1ff;
  padding: 10px;
  margin-bottom: 10px;
}

.centerDiv {
  background-color: black;
}

#seekSlider {
  width: 58%;
}

#volumeSlider {
  width: 10%;
}
